<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Display</title>
</head>
<body>
    <h1>Task Todo List</h1>
    <form action="/insertdata" method="POST">
        <label>Add Task </label>
        <input type="text" name="task">
        <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    <table>
        <tr>
            <th>Tasks</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for i in send%}
        <tr>
            <td>{{i.content}}</td>
            <td>{{i.date_created}}</td>
            <td><a href="/updatepage/{{i._id}}">Update</a>
                <a href="/deletepage/{{i._id}}">Delete</a></td>
        </tr>
        {% endfor%}
    </table>
</body>
</html>
